<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNqOJh5CVa51wXCBQjNtow_jjxNxrWlT0</string>
	<key>GCM_SENDER_ID</key>
	<string>399604238324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fortexinnovations.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e01fa</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e01fa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399604238324:ios:5dfc40e3951743fa049ba1</string>
</dict>
</plist>